name: Publish Build Repo and Create GitHub Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run unit tests
        id: run_unit_tests
        run: ./gradlew --no-daemon test --tests io.github.hammingweight.similarityevaluator.SimilarityEvaluatorTests

      - name: Extract version from tag
        id: extract_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Publish to GitHub Packages
        run: ./gradlew --no-daemon clean publishMavenJavaPublicationToGitHubPackagesRepository
        env:
          VERSION: ${{ env.VERSION }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
